.card-award
  height: 350px
  width: 250px
  margin: 0px $margin
  background-color: $card-background
  border-radius: $card-border-radius
  padding: 5px
  display: grid
  grid-template-rows: 100px 70px 38px 142px
  grid-gap: 0px
  font-family: $third-font-family
  color: $third-color
  &:nth-child(2n)
    border-top: $card-border-dark
  &:nth-child(2n+1)
    border-top: $card-border-light

.card-award-date
  grid-row: 1
  font-size: 100px
  color: $third-color
  opacity: .25
 
.card-award-title
  grid-row: 2
  h3
    font-size: 20px
    margin: $margin 0px

.card-award-category
  grid-row: 3
  transform: translateX(-10px)
  clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%)
  background-color: $fifth-color
  color: $third-color
  line-height: 16px
  padding: 0px 0px 0px 10px
  display: flex
  align-items: center
  span
    width: 90%

.card-award-film
  grid-row: 4
  padding: $margin 0px
  font-style: italic
  font-size: 22px

