h2
    margin: 0px
    color: $second-color
    font-family: $second-font-family
    @media screen and (min-width: $small)
        font-size: 24px
    @media screen and (max-width: $small)
        font-size: 20px