.card-film
  height: 350px
  width: 250px
  margin: 0px $margin
  background-color: $card-background
  border-radius: $card-border-radius
  padding: 5px
  display: grid
  grid-template-rows: 260px 65px 25px
  grid-gap: 0px
  font-family: $third-font-family
  color: $third-color
  &:nth-child(2n)
    border-top: $card-border-dark
  &:nth-child(2n+1)
    border-top: $card-border-light

.card-film-image
  grid-row: 1
  position: relative
  img
    height: 260px
    max-width: 250px 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  svg
    height: 48px
    max-width: 48px
    fill: $third-color
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    opacity: 0.5
    transition: opacity 300ms
  &:hover svg
    opacity: 1
    


.card-film-title
  grid-row: 2
  h3
    margin: 10px 0px 0px 0px
    font-style: italic
    font-size: 20px

.card-film-date
  grid-row: 3
  font-size: 20px
  color: $third-color


