.network
    width: 200px
    height: 50px
    display: grid
    grid-template-rows: 25px 25px
    grid-auto-columns: 50px 150px
    grid-gap: 5px

.network-title
    grid-column: 2
    grid-row: 1
    h3
        margin: 0px

.network-logo
    grid-column: 1
    grid-row: 1 / 2
    svg
        width: 50px
        height: auto
        fill: $first-color

.network-description
    grid-column: 2
    grid-row: 2

