$background-color: #222222 //background
$first-color: #ffffff //title
$second-color: #bbbbbb //seconds titles, pages and background card
$third-color: #ffffff //content
$fourth-color: #dddddd //background's letters border
$fifth-color: #F58634 //award category
$margin: 10px
$border: solid 3px rgba($third-color, 0.25)

$medium: 768px
$small: 600px

:root
  --current-position-y: 0vh
  --position-y: 0vh
  --current-position-x: 0%
  --position-x: 0%
  --current-page-position-y: 0px
  --page-position-y: 0px
  --current-languages-position-y: 0px
  --languages-position-y: 0px
 