$background-color: white
$first-color: black
$second-color: grey
$third-color: red
$margin: 10px
$border: solid 3px rgba($second-color, 0.25)

:root
  --current-position-y: 0vh
  --position-y: 0vh
  --current-page-position-y: 0px
  --page-position-y: 0px
  --current-languages-position-y: 0px
  --languages-position-y: 0px
 