footer
  position: fixed
  bottom: 0
  z-index: 1
  height: 35px
  min-width: 100%
  color: $first-color
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  nav
    display: flex
    justify-content: center

.items
  font-family: 'Source Sans Pro'
  overflow: hidden
  position: relative
  height: 21px
  width: 21px
  font-size: 18px
  &:nth-child(odd)
    font-weight: bold

.pagination
  transform: translateY(var(--page-position-y))
  width: 21px
  position: absolute
  display: grid
  grid-template-rows: repeat(5, 1fr)

.bullet
  background-color: $first-color
  border-radius: 50%
  width: 6px
  height: 6px
  margin: 10px 0px

.scroll-page
  animation: scroll-page 1s ease forwards