main
    overflow: hidden
    animation: fade-in 3s ease forwards

.content
    transform: translateY(var(--position-y))
    position: absolute

.section
    height: calc(100vh - 70px - 35px)
    width: 100vw
    padding: 70px 0px 35px 0px

.section-content
    height: 100%
    width: 100%
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-content: center

.subtitle
    width: 100%

h2
    color: first-color
    margin: $margin
    display: flex
    align-items: center
    &:after
        flex: 1
        transform: translateY(-5%)
        right: 0px
        content: ""
        background-color: $first-color
        height: 1px
        margin: 0px $margin

aside
    width: 300px
    margin: 0px 50px
    @media screen and (min-width: $medium)
        order: 1
    @media screen and (max-width: $medium)
        order: 0
    p
        text-align: center
        color: $second-color

figure
    margin: 0px

.portrait
    position: relative
    height: 300px
    width: 300px
    border-radius: 50%
    background-image: url("../.././assets/images/margot-robbie.png")
    background-size: 100%
    background-repeat: no-repeat
    display: flex
    justify-content: center
    align-items: flex-end
    &:before
        content: ''
        z-index: -1
        height: 95%
        width: 95%
        border-radius: 50%
        background-color: rgba($second-color, 0.25)
        border: $border

.biography-content
    max-width: 1000px
    @media screen and (min-width: $medium)
        margin: 0px 50px
    @media screen and (max-width: $medium)
        margin: 0px

.scroll
    animation: scroll 1s ease forwards

svg
    fill: $first-color

a
    text-decoration: none
    cursor: none
    color: $first-color

.cards-content
    display: flex
    justify-content: flex-start
    overflow: visible

.networks-content
    width: 100%
    height: 50%
    display: flex
    flex-wrap: wrap
    align-content: center
    margin: $margin


.link
    position: relative
    font-weight: bold
    padding-bottom: 5px
    &:after
        background: none repeat scroll 0 0 transparent
        bottom: 0
        content: ""
        display: block
        height: 2px
        width: 0px
        left: 50%
        position: absolute
        background: $first-color
        transition: width 0.3s ease 0s, left 0.3s ease 0s
    &:hover:after
        width: 100%
        left: 0